body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
}

.headline {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: -10px;
  margin-top: 50px;
}

.links {
  display: flex;
  margin-bottom: 20px;
}

.links a {
  display: inline-block;
  margin-right: 20px;
  color: #333;
}

.projects {
  margin-bottom: 20px;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects li {
  margin-bottom: 10px;
}

.project li a {
  color: #333;
}